- content_for :head do
  link rel="stylesheet" type="text/css" href="/stylesheets/user.css"
  css:
    #content {
      background-image: url(images/#{@userName}.jpg);
    }

- content_for :body do
  #content
    #text
      ul#contact

- content_for :footer do
  script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"
  javascript:
    $(function () {
      var addContact = function (name, link, display) {
        $('#contact').append(
          $('<li></li>')
          .append(name + ': ')
          .append(
            link ?
              $('<a></a>', {
                href: link,
                text: display
              })
            :
              display
          ));
      };

      $.get('david.json', function(data) {
        addContact('mail', 'mailto:' + data.email, data.email);
        addContact('phone', 'callto:' + data.phone.replace(/ /g, ''), data.phone);
        addContact('web', data.url, data.url);
        addContact('vcf', data.vcfUrl, data.vcfUrl);
      });
    });