- content_for :head do
  title tischler.io/#{@userName}
  link rel="stylesheet" type="text/css" href="/stylesheets/user.css"
  link rel="stylesheet" type="text/css" href="/stylesheets/dark.css"
  link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"

- content_for :body do
  #content
    img#picture.portrait src=gravatar_url(@user[:email], :size => 400)
    #text
      h1= @user[:fullName]
      #tabs
        ul#tab-header style="display: none;"
          li
            a href="#about" About
          li
            a href="#contact" Contact
        #about
          p= @user[:about]
        #contact
          table#contact-list
          ul#contact-buttons
    #footer style="clear: both;"

- content_for :footer do
  script src="http://code.jquery.com/jquery-1.8.3.js"
  script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"
  javascript:
    $(function () {
      $("#tabs").tabs();
      $("#tab-header").show();
      
      var addContact = function (value, label, link, text) {
        if (value) {
          $('#contact-list').append(
            $('<tr></tr>')
            .append($('<td></td>').addClass('label').append(label + ': '))
            .append($('<td></td>').append(
              link ?
                $('<a></a>', {
                  href: typeof(link) == 'function' ? link(value) : link,
                  text: typeof(text) == 'function' ? text(value) : (text ? text : value)
                })
              :
                value
            )));
        }
      };

      var addButton = function (value, type, link, text) {
      if (value) {
          $('#contact-buttons').append(
            $('<li></li>').append(
                $('<a></a>', {
                  href: typeof(link) == 'function' ? link(value) : link,
                  title: typeof(text) == 'function' ? text(value) : (text ? text : value),
                  rel: 'me'
                }).addClass('button fc-webicon').addClass(type)
            ));
        }};

      var schemeLink = function(scheme, value) { return scheme + ':' + value; };
      var rawLink = function(value) { return value; };
      var mailtoLink = function(value) { return schemeLink('mailto', value); };
      var calltoLink = function(value) { return schemeLink('callto', value.replace(/ /g, '')); };
      var skypeLink = function(value) { return schemeLink('skype', value); };
      var facebookLink = function(value) { return 'https://www.facebook.com/' + value; };
      var stackoverflowLink = function(value) { return 'https://www.stackoverflow.com/users/' + value; };
      var xingLink = function(value) { return 'https://www.xing.com/profile/' + value; };
      var githubLink = function(value) { return 'https://www.github.com/' + value; };

      $.get('david.json', function(data) {
        addContact(data.email, 'E-Mail', mailtoLink);
        addContact(data.phone, 'Phone', calltoLink);
        addContact(data.web, 'Web', rawLink);
        addContact(data.vcfUrl, 'vCard', rawLink, '#{@userName}.vcf');

        addButton(data.email, 'mail', mailtoLink, 'E-Mail');
        addButton(data.skype, 'skype', skypeLink, 'Skype');
        addButton(data.facebook, 'facebook', facebookLink, 'Facebook');
        addButton(data.xing, 'xing', xingLink, 'Xing');
        addButton(data.stackoverflow, 'stackoverflow', stackoverflowLink, 'Stack Overflow');
        addButton(data.github, 'github', githubLink, 'GitHub');
      });
    });