#picture {
  max-height: 380px;
  max-width: 300px;
  float: right;
}
#text {
  float: left;
  width: 400px;
  padding: 10px 10px 10px 10px;
}
td {
  padding-right: 10px;
}
#tabs {
  background: transparent;
  border: none;
}
#tabs .ui-widget-header {
  background: transparent;
  border: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
#tabs .ui-state-default {
  background: transparent;
  border: none;
}
#tabs .ui-state-active {
  border: none;
}
#tabs .ui-widget-header a:focus {
  outline: none;
}