@import "fc-webicons";

#picture {
    float: right;
}
@media (min-width: 840px) {
  #content {
    width: 800px;
  }
  #picture {
    max-width: 360px;
  }
}
@media (min-width: 640px) and (max-width: 839px) {
  #content {
    width: 600px;
  }
  #picture {
    max-width: 160px;
  }
}
@media (max-width: 639px) {
  #content {
    width: 400px;
  }
  #picture {
    display: none;
  }
}
#text {
  float: left;
  width: 400px;
  padding: 10px 10px 10px 10px;
}
#contact-list td {
  padding-right: 10px;
}
#contact-buttons {
  margin-top: 30px;
  margin-bottom: 20px;
  list-style: none;
}
#contact-buttons li {
  position: relative;
  float: left;
  padding-right: 10px;
}
#tabs {
  background: transparent;
  border: none;
}
#tabs .ui-widget-header {
  background: transparent;
  border: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
#tabs .ui-state-default {
  background: transparent;
  border: none;
}
#tabs .ui-state-active {
  border: none;
}
#tabs .ui-widget-header a:focus {
  outline: none;
}